@charset "utf-8";

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html{
  font-size:62.5%;
}
ul,ol{
  list-style:none;
}
a{
  text-decoration:none;
  color:inherit;
}
img{
  vertical-align:center;
}
table{
  border-collapse:collapse;
}

